<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search| BRS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../assets/dist/css/AdminLTE.min.css">
    <!-- Data tables-->
    <link rel="stylesheet" href="../assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../assets/dist/css/skins/_all-skins.min.css">
    <!--FAB4-->
    <link rel="stylesheet" href="../assets/dist/css/fab4meta.css">
    <!-- Plotly JS-->
    <script src="../charts/plotly.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="sidebar-mini skin-yellow">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">BRS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FAB4</b>BRS</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success"></span>
                </a>
                <ul class="dropdown-menu">
                <li class="header">You have 0 new messages</li>
                <li>
                    <!--
                    <ul class="menu">
                    <li>
                        <a href="#">
                        <div class="pull-left">
                            <img src="../assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <p>Why not buy a new awesome theme?</p>
                        </a>
                    </li>
                    </ul>
                    
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less 
            <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning"></span>
                </a>
                <ul class="dropdown-menu">
                <li class="header">You have 0 new notifications</li>
                <li>
                    <!-- inner menu: contains the actual data 
                    <ul class="menu">
                    <li>
                        <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                    </li>
                    </ul>
                    
                </li>
                <li class="footer"><a href="#">View all</a></li>
                </ul>
            </li>
            <!-- Tasks: style can be found in dropdown.less 
            <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <span class="label label-danger"></span>
                </a>
                <ul class="dropdown-menu">
                <li class="header">You have 0 new action requests</li>
                <li>
                    <!-- inner menu: contains the actual data
                    <ul class="menu">
                    <li>
                        <a href="#">
                        <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                        </h3>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        </a>
                    </li>
                    </ul>
                    
                </li>
                <li class="footer">
                    <a href="#">View all tasks</a>
                </li>
                </ul>
            </li>
            -->
            <!-- User Account: style can be found in dropdown.less 
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../assets/dist/img/avatar5.png" class="user-image" alt="User Image">
                <span class="hidden-xs">Guest</span>
                </a>
                <ul class="dropdown-menu">
                <!-- User image 
                <li class="user-header">
                    <img src="../assets/dist/img/avatar5.png" class="img-circle" alt="User Image">

                    <p>
                    Guest
                    <small>Anonymous Team</small>
                    </p>
                </li>
                <!-- Menu Body 
                <li class="user-body">
                    <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-6 text-center">
                        <a href="#">Action Requests</a>
                    </div>
                    </div>
                    <!-- /.row 
                </li>
                <!-- Menu Footer
                <li class="user-footer">
                    <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                    <a href="/logout" class="btn btn-default btn-flat">Logout</a>
                    </div>
                </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
            -->
            </ul>
        </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
        <!-- Sidebar user panel 
        <div class="user-panel">
            <div class="pull-left image">
            <img src="../assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
            <p>Guest</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        -->
        <!-- search form 
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
            <a href="#">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-search"></i> <span>Search</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <% if(type == search_metadata.item_attributes.type) { %>
                    <li class="active"><a href="<%= search_metadata.item_attributes.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.item_attributes.name %> </a></li>
                    <% } else {  %>
                    <li><a href="<%= search_metadata.item_attributes.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.item_attributes.name %> </a></li>
                    <% } %>
                    
                    <% if(type == search_metadata.po_status.type) { %>
                    <li class="active"><a href="<%= search_metadata.po_status.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.po_status.name %> </a></li>
                    <% } else { %>
                    <li><a href="<%= search_metadata.po_status.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.po_status.name %> </a></li>
                    <% } %>
                    
                    <% if(type == search_metadata.on_hand.type) { %>
                    <li class="active"><a href="<%= search_metadata.on_hand.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.on_hand.name %> </a></li>
                    <% } else { %>
                    <li><a href="<%= search_metadata.on_hand.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= search_metadata.on_hand.name %> </a></li>
                    <% } %>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-upload"></i> <span>Upload</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<%= file_metadata.APL.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.APL.name %> </a></li>
                    <li><a href="<%= file_metadata.SCAT.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.SCAT.name %> </a></li>
                    <li><a href="<%= file_metadata.OH.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.OH.name %> </a></li>
                    <li><a href="<%= file_metadata.PO.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.PO.name %> </a></li>
                    <li><a href="<%= file_metadata.SCOST.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.SCOST.name %> </a></li>
                    <li><a href="<%= file_metadata.SLLT.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.SLLT.name %> </a></li>
                    <li><a href="<%= file_metadata.POR.url %>"><i class="ion ion-ios-checkmark-outline" style="color:green;"></i> <%= file_metadata.POR.name %> </a></li>
                </ul>
            </li>
            <!--
            <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reports</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#"><i class="fa fa-circle-o"></i>
                        <span>Fab4 Cycletime</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Overall Cycletime</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Cluster 1 Cycletime</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Cluster 2 Cycletime</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Cluster 3 Cycletime</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Cluster 4 Cycletime</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Cluster 5 Cycletime</a></li>
                    </ul>
                </li>
            </ul>
            </li>
            <li class="treeview">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <span>Prototypes</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Certificate of Analysis</a></li>
            </ul>
            </li>
            <li class="header">SUPPORT</li>
            <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            -->
        </ul>
        <!--reminder ad-->
        <!--
        <div id="reminder-ad" class="show color_5">
            <p class="reminder-ad-p">Hello Fab4,</p>
            <p class="reminder-ad-p">This app is a platform for prototypes. Any issues, downtime and delays are expected.</p>
            <p class="reminder-ad-p">Thank you! ❤️</p>
        </div>
        -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        <!-- Main content -->
        <section class="content-header">
            <h1>
                Search <%= label %>
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Search</li>
            </ol>
        </section>
        <section class="content">
            <div class="row" style="margin-bottom: 12px;">
                <div class="col-md-12">
                    <form id="search<%= type %>" method="GET">
                        <div class="input-group">
                            <input hidden name="type" value="<%= type %>"/>
                            <% if(type == 'po-status') { %> 
                                <% if(query_from_client) { %>
                                    <input class="form-control input-lg" type="text" name="q" autofocus placeholder="Use space for multiple PN or PO numbers..." value="<%= query_from_client %>">
                                <% } else {  %>
                                    <input class="form-control input-lg" type="text" name="q" autofocus placeholder="Use space for multiple PN or PO numbers...">
                                <% } %>
                            <% } else { %>
                                <% if(query_from_client) { %>
                                    <input class="form-control input-lg" type="text" name="q" autofocus placeholder="Use space for multiple PN..." value="<%= query_from_client %>">
                                <% } else {  %>
                                    <input class="form-control input-lg" type="text" name="q" autofocus placeholder="Use space for multiple PN...">
                                <% } %>
                            <% } %>

                            
                            <span class="input-group-btn">
                                <button type="submit" id="search_<%= type %>" class="btn btn-flat btn-lg"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                        <h3 class="box-title"><%= query_results.length %> results found</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                        <tr role="row">
                                            <% if(table_headers) { %>
                                                <% for(let i=0; i<table_headers.length; i++) { %>
                                                    <th><%= table_headers[i] %>
                                                    </th>
                                                <% } %>
                                            <% } %>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% if(type == 'item-attributes') { %>
                                                <% if(query_results) { %>
                                                    <% for(let i=0; i<query_results.length; i++) { %>
                                                        <tr role="row">
                                                            <td><%= query_results[i].pn %></td>
                                                            <td><%= query_results[i].description %></td>
                                                            <td><%= query_results[i].items_status_code %></td>
                                                            <td><%= query_results[i].category %></td>
                                                            <td><%= query_results[i].std_cost %></td>
                                                            <td><%= query_results[i].pre_lt %></td>
                                                            <td><%= query_results[i].lt %></td>
                                                            <td><%= query_results[i].post_lt %></td>
                                                            <td><%= query_results[i].sllt_supplier %></td>
                                                            <td><%= query_results[i].upload_date %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            <% } else if (type == 'po-status') { %>
                                                <% if(query_results) { %>
                                                    <% for(let i=0; i<query_results.length; i++) { %>
                                                        <tr role="row">
                                                            <td><%= query_results[i].pn %></td>
                                                            <td><%= query_results[i].description %></td>
                                                            <td><%= query_results[i].supplier %></td>
                                                            <td><%= query_results[i].po %></td>
                                                            <td><%= query_results[i].po_qty %></td>
                                                            <td><%= query_results[i].po_del %></td>
                                                            <td><%= query_results[i].po_in_transit %></td>
                                                            <td><%= query_results[i].po_bal %></td>
                                                            <td><%= query_results[i].promised_dt %></td>
                                                            <td><%= query_results[i].auth_status %></td>
                                                            <td><%= query_results[i].upload_date %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            <% } else if (type == 'on-hand') { %>
                                                <% if(query_results) { %>
                                                    <% for(let i=0; i<query_results.length; i++) { %>
                                                        <tr role="row">
                                                            <td><%= query_results[i].org_code %></td>
                                                            <td><%= query_results[i].pn %></td>
                                                            <td><%= query_results[i].description %></td>
                                                            <td><%= query_results[i].subinv %></td>
                                                            <td><%= query_results[i].locator %></td>
                                                            <td><%= query_results[i].uom %></td>
                                                            <td><%= query_results[i].qty %></td>
                                                            <td><%= query_results[i].upload_date %></td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
        </div>
        <strong>B R S</strong> - Backup Replenishment System
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="../assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Data tables-->
<script src="../assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../assets/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../assets/dist/js/adminlte.min.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
<script>
    $(function(){
        $('#perlot').DataTable();
    });
</script>
</body>
</html>
